.navteams {
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 1rem;
  padding: 0.5rem;
  flex-wrap: wrap;
}

.navteams div img {
  max-width: 2rem;
}
