.header {
  background-color: #37003c;
  font-size: 1.4rem;
}

.navbar {
  max-width: 100rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 0 auto;
  max-height: 5rem;
}

.navbarlink {
  list-style-type: none;
  color: white;
  text-decoration: none;
}

.navbarlogo {
  margin-top: auto;
  max-width: 90px;
}
