.header {
  background-color: #37003c;
  font-size: 1.2rem;
  z-index: 999;
  position: sticky;
  top: 0;
}

.navbar {
  max-width: 90rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 0 auto;
  max-height: 3rem;
}

.navbarlink {
  list-style-type: none;
  color: white;
  text-decoration: none;
}

.navbarlogo {
  margin-top: auto;
  max-width: 60px;
}
